.container{
  text-align: center;
}

.wrapImg{
  text-align: left;
}

.StartImg{
  margin-top: 10%;
  margin-left: 7%;
}


.StartLogo{
  height: 40px;
  margin-top: 10%;
  margin-left: 3%;
}

.StartContent{
  text-align: center;
  font-size: 30px;
  margin-top: 20%;
}

.StartBtn{

  background-color: #12619C;
  color: #fff;
  padding: 4%;
  border-radius: 16px;
  border: none;
  width: 300px;
  font-size: 17px;
  font-weight: 100;
}

.WrapStartBtn{
  text-align: center;
  margin-top: 5%;
}