
.title{
  font-size: 24px;
  color: #424242;
  margin-top: 8vh;
  margin-left: 10%;
  display: inline-block;
}

.remainLetter{
  display: inline-block;
  margin-left: 3%;
  color: #BABABA;
}

.WrapTextarea{
  text-align: center;
}

.Writetextarea{
  width: 70vw;
  height: 28em;
  border-radius: 1vh;
  resize: none;
  margin-top: 3vh;
  padding: 2.2vh;
}

.WrapDoneBtn{
  text-align: center;
  margin-top: 5vh;
}

.doneBtn{
  background-color: #12619C;
  color: #FFF;
  text-align: center;
  padding: 2vh;
  border: none;
  border-radius: 1vh;
  width: 82vw;
  font-size: 16px;
}

.Writetextarea:focus{
  border-color: #4198FF;
  outline: none;
  border-width: 2px;
  padding: 5vw;
}
