
.title{
  font-size: 24px;
  color: #424242;
  margin-top: 28%;
  margin-left: 10%;
  display: inline-block;
}

.remainLetter{
  display: inline-block;
  margin-left: 3%;
  color: #BABABA;
}

.WrapTextarea{
  text-align: center;
}

.Writetextarea{
  width: 70%;
  height: 28em;
  border-radius: 5px;
  resize: none;
  margin-top: 6%;
  padding: 5%;
}

.WrapDoneBtn{
  text-align: center;
  margin-top: 15%;
}

.doneBtn{
  background-color: #12619C;
  color: #FFF;
  text-align: center;
  padding: 4%;
  border: none;
  border-radius: 16px;
  width: 82%;
  font-size: 16px;
}

.Writetextarea:focus{
  border-color: #4198FF;
  outline: none;
  border-width: 2px;
  padding: 5%;
}
