.content {
  position: absolute;
  bottom: 0; 
  background-color: #e2e2e2;
  height: 290px;
  width: 100vw;
}

.selectPost {
  background-color: #FFE16F;
  width: 25%;
  border-radius: 5px;
  padding: 2%;
  font-size: 11px;
  text-align: center;
  margin: 4.5%;
}

.wrapPostImg {
  position: absolute;
  bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.post1,
.post2,
.post3,
.post4,
.post5,
.post6,
.post7,
.post8 {
  width: 22%;
  cursor: pointer;
}

.WrapSelectImg {
  text-align: center;
  margin-top: 10vh;
}

.selectImg {
  width: 90vw;
}
