.content {
  position: absolute;
  bottom: 0; 
  background-color: #e2e2e272;
  height: 30vh;
  width: 100vw;
}

.selectPost {
  border-radius: 1vh;
  font-size: 11px;
  text-align: center;
  margin-top: 28vh;
  text-align: right;
  margin-right: 4vw;
  color: rgba(142, 142, 142, 0.544);
}

.wrapPostImg {
  position: absolute;
  bottom: 3vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.post1,
.post2,
.post3,
.post4,
.post5,
.post6,
.post7,
.post8 {
  width: 22vw;
  cursor: pointer;
}

.WrapSelectImg {
  text-align: center;
  margin-top: 6vh;
}

.selectImg {
  width: 90vw;
}
